/* ALL range*/
.container {
    margin: 0 auto 0 auto;
    width: 480px;
}
/* header bar*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-top: 10px;
    background-color: red;
}
/* .header__menu {} */
.header__menu-icon {
    width: 50px;
}
/* .header__logo{} */
.header__image {
    width: 50px;
}
.header__buttons {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
/* .header__button{} */
.header__button--1 {
    width: 50px;
}
.header__button--2 {
    width: 50px;
}
/* .main{} */
/*main__slider*/
.main__slider-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.main__wrapper {
}
.main__block {
    margin: 50px 0px;
    /* margin: 16px 0px 16px 0px; */
}
.block__textbox {
    margin: 32px 0 20px 0;
}
.block__title {
    font-size: 32px;
    color: lightgoldenrodyellow;
    background-color: orange;
}
.block__descriptions {
    justify-content: flex-start;
}
.block__description {
    margin: -20px 0 0 0;
    font-size: 13px;
    color: gray;
    background-color: greenyellow;
}
.block__description--date {
    padding: 8px;
}

.block__content {
    display: flex;
    flex-wrap: wrap;
}
.content__product {
    /* text-align: center;
    line-height: 300px; */
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: 900;
    font-style: oblique;
    opacity: 0.85;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.1s ease-in-out;
}
.content__product:hover {
    font-size: 2em;
}
.content__product--1 {
    background-image: url(image/pickup/Design_simple.jpg);
}
.content__product--2 {
    background-image: url(image/pickup/Design_natural.jpg);
}
.content__product--3 {
    background-image: url(image/pickup/Design_girly.jpg);
}
.content__product--4 {
    background-image: url(image/pickup/Design_chic.jpg);
}
/* .main__block--2{} */
.content__text-product--1 {
}
.content__text-product--2 {
}
.content__text-product--3 {
}
.content__text-product--4 {
}
.content__text-product--5 {
}
.content__text-product--6 {
}

/* div tag */

.content__text-product:hover .text-product__image-box .image-box_img {
    transform: scale(1.5);
    /* object-fit: cover;
    box-sizing: border-box; */
    padding: 5px 20px;
}

.text-product__image-box {
    width: 100%;
    height: 230px;
    overflow: hidden;
    /* object-fit: none; */
}
.image-box_img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    transition: all 0.4s ease-in;
    /* cubic-bezier(1, 0.43, 0.21, 0.97); */
}
.content__text-product {
    padding: 0px 10px;
    width: 50%;
    flex-basis: 50%;
    box-sizing: border-box;
}
.text-product__text__box {
    text-align: center;
}
.content__text-product--1 .text-product__text__box {
    text-decoration: line-through;
}
